.hero__inner__aboutUs {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 60px;
  color: white;
}

.side-left-hero {
  flex: 1 1;
}

.side-left-hero img {
  flex: 1;
  display: flex;
}

.side-left-hero h1 {
  line-height: 1.7rem;
  font-size: 1.2rem;
  font-size: 36px;
  line-height: 1.2;
}

.side-right {
  flex: 1;
}

.side-right p {
  font-size: 18px;
}

/* Misi */
.ourMission {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 60px;
  color: grey;
}

.titleMission {
  padding-left: 250px;
  padding-right: 200px;
  color: #b03e21;
}

/* Kami */

.our {
  background: linear-gradient(45deg, #e35c3b, #f4a261);
  height: 450px;
}

.our h2 {
  text-align: center;
  padding: 50px;
  color: white;
}

.container-profile {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  padding-top: 10px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 2s ease;
}

.profile-card.visible {
  opacity: 1;
  transform: none;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: white;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  margin-bottom: 20px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.profile-description {
  font-size: 14px;
  color: white;
}

.profile-info .social-icons {
  padding: 10px;
}

.profile-info .social-icons a {
  padding: 10px;
  color: white;
  display: inline;
  min-width: 44px;
  min-height: 44px;
}
