  @media screen and (max-width: 650px) {
    .footer__left .description {
      font-size: 14px;
    }
  }
   
  @media screen and (max-width: 700px) {
    .hero__inner {
      margin-left: 40px;
    }

    .footer {
      padding-left: 40px;
    }

    .hero__title {
      font-size: 30px;
    }

    .hero__tagline {
      font-size: 20px;
    }

    .footer__left .description {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 830px){
    .social-media li {
      margin-right: 5px;
      border-radius: 25px;
      padding: 8px;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 5px;
    }
  }
   
  @media screen and (min-width: 850px) {
    .app-bar {
      grid-template-columns: 1fr auto;
      padding: 8px 32px;
    }
   
    /* .app-bar .app-bar__brand img {
    } */
   
    .app-bar .app-bar__menu {
      display: none;
    }
   
    .app-bar .app-bar__navigation {
      position: static;
      width: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
      display: inline-block;
    }
   
    .app-bar .app-bar__navigation ul li a {
      display: inline-block;
      width: 120px;
      text-align: center;
      margin: 0;
    }
  }

  @media screen and (max-width: 850px) {
    .app-bar__navigation {
      background-color: #E35C3B;
    }
  }

  @media screen and (max-width: 850px){
    .footer {
      display: inline-block;
    }

    .social-media {
      padding-top: 20px;
    }

    .social-media li {
      display: inline-table;
      margin-top: 10px;
    }
  }
   
  @media screen and (min-width: 1200px) {
  }

  @media screen and (max-width: 1256px) {
    .app-bar .app-bar__navigation ul li a {
      display: inline-block;
      text-decoration: none;
      color: white;
      padding: 15px;
      margin-bottom: 5px;
      width: 100%;
    }

    
  }
   
  @media screen and (min-width: 1600px) {
    
  }