/* pengaturan umum */

:root {
  --rust: #b03e21ff;
  --cinnabar: #e35c3bff;
  --sandy-brown: #f4a261ff;
  --saffron: #e9c46aff;
  --battleship-gray: #898989ff;
  --white-smoke: #f5f5f5ff;
  --padd-horizontal: 7rem;
  --padd-vertical: 6rem;
  --gradient: linear-gradient(
    90deg,
    rgba(227, 92, 59, 1) 40%,
    rgba(244, 162, 97, 1) 130%
  );
  --title-weight: 600;
  /* desktor size */
  --title-size: 1.7rem;
  --subtitle-size: 1.5rem;
  --text-size: 1.2rem;
  --logo-size: 3rem;
  --other-img: 2.5rem;

  --padd-horizontal: 7rem;
  --padd-vertical: 6rem;
  /* mobile size */
  --title-size-mobile: 1.3rem;
  --text-size-mobile: 1rem;
  --logo-size-mobile: 2.3rem;
  --other-img-mobile: 1.9rem;

  --padd-horizontal-mobile: 2.3rem;
  --padd-vertical-mobile: 5rem;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

/*
    AppBar
  */

.app-bar {
  padding: 8px 16px;
  background: linear-gradient(45deg, #e35c3b, #f4a261);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  height: 80px;
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.app-bar .app-bar__brand img {
  width: auto;
  height: var(--logo-size);
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 15px;
  margin-bottom: 5px;
  width: 100%;
}

.app-bar .app-bar__navigation ul li a:hover {
  font-weight: bold;
}

.app-bar .app-bar__navigation ul li .icon-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  opacity: 70%;
}

.app-bar .app-bar__navigation ul li .icon-button:hover {
  opacity: 100%;
}

.app-bar .app-bar__navigation ul li .icon-button i {
  font-size: 20px;
}

/* Notification */
.notif {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e35c3b;
  padding: 20px;
  color: white;
  display: block;
}

.hidden {
  display: none;
}

/* Jumbotron */

.jumbotron {
  background: var(--gradient);
  /* height: 450px; */
}

.hero {
  display: flex;
  padding: var(--padd-vertical) var(--padd-horizontal);
  /* align-items: center; */
  /* min-height: 380px; */
  /* width: 100%; */
  /* text-align: left; */
  background-image: url("../public/ornamen.png");
  /* background-size: 600px; */
  background-size: 70% 90%;
  background-repeat: no-repeat;
  background-position: right bottom;
  /* height: 450px; */
}

.hero__inner {
  /* margin: 0 auto; */
  max-width: 800px;
  /* margin-left: 60px; */
  line-height: 1, 2;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  /* font-size: 40px; */
  font-size: var(--title-size);
  text-align: left;
  font-weight: bold;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero__tagline {
  color: #fff;
  margin-top: 30px;
  font-size: 28px;
  font-size: var(--subtitle-size);
  font-weight: 300;
  margin-bottom: 30px;
  list-style-type: none;
}

.hero__button {
  margin-right: 10px;
  background-color: #f4a261;
  border-radius: 25px;
  padding: 8px;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  /* font-size: 20px; */
  font-size: var(--text-size);
  transition: background-color 0.3s ease;
}

.hero__button:hover {
  background-color: #b03e21;
}

/*
    Main Content
  */

main {
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
}

/*Campaign*/
.campaign {
  padding: var(--padd-vertical) var(--padd-horizontal);
  background-color: white;
}

.campaign p {
  text-align: center;
  color: #f4a261;
  /* font-size: 20px; */
  font-size: var(--subtitle-size);
  font-weight: bold;
}

.campaign h1 {
  text-align: center;
  color: #b03e21;
  /* font-size: 35px; */
  font-size: var(--title-size);
  font-weight: bold;
}

.Campaign_List {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.CardCampaign {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.campaign_image {
  padding: 25px;
  display: block;
  background-image: url("../public/campaign.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 30%;
}

.container_campaign h2 {
  padding: 10px 25px 20px 25px;
  color: #b03e21;
  font-size: 25px;
  font-weight: bold;
}

/*Fitur Unggulan*/
.fitur {
  /* padding: 100px 50px 100px 50px; */
  padding: var(--padd-vertical) var(--padd-horizontal);
  background-color: white;
}

.fitur h1 {
  text-align: center;
  color: #b03e21;
  /* font-size: 35px; */
  font-size: var(--title-size);
  font-weight: bold;
}

.Fitur_list {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Card_Fitur {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Card_img {
  padding: 20px;
  display: block;
  background-image: url("../public/fitur.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
}

.Text_Fitur {
  text-align: left;
}

.Text_Fitur h2 {
  color: #e35c3b;
  /* font-size: 24px; */
  font-size: var(--subtitle-size);
  font-weight: bold;
}

.Text_Fitur p {
  color: gray;
  /* font-size: 18px; */
  font-size: var(--text-size);
  font-weight: bold;
}

/*Donasi*/
.donasi {
  /* padding: 100px; */
  padding: var(--padd-vertical) var(--padd-horizontal);
  background-color: white;
}

.donasi p {
  text-align: left;
  color: #f4a261;
  font-size: 20px;
  font-size: var(--subtitle-size);
  font-weight: bold;
}

.donasi h1 {
  text-align: left;
  color: #b03e21;
  /* font-size: 35px; */
  font-size: var(--title-size);
  font-weight: bold;
}

.Donasi_list {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
}

.Card_Donasi {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  background-color: #e35c3b;
  border-radius: 30px 0px 30px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button_container {
  padding: 0px 20px;
  display: flex;
  gap: 10px;
}

.button_card {
  padding: 7px 10px;
  background-color: #f4a261;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Donasi_img {
  padding: 25px;
  display: flex;
  justify-content: center;
  /* background-image: url("../public/campaign.png"); */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 30%;
}

.Container_Donasi h4 {
  padding: 10px 10px 0px 20px;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.Container_Donasi p {
  padding: 0px 10px 10px 20px;
  color: white;
  text-align: left;
  font-size: 15px;
}

.Container_Donasi h3 {
  padding: 10px 10px 10px 20px;
  color: white;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

/*Ulasan*/
.ulasan {
  /* padding: 100px 250px 100px 250px; */
  padding: var(--padd-vertical) var(--padd-horizontal);
  background-color: white;
}

.ulasan p {
  text-align: center;
  color: #f4a261;
  /* font-size: 20px; */
  font-size: var(--subtitle-size);
  font-weight: bold;
}

.ulasan h1 {
  text-align: center;
  color: #b03e21;
  /* font-size: 35px; */
  font-size: var(--title-size);
  font-weight: bold;
  padding-bottom: 30px;
}

.CardUlasan {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ulasan_image {
  padding: 15px;
  display: block;
  background-image: url("../public/user.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 7%;
}

.container_ulasan p {
  padding: 20px 30px 20px 30px;
  color: grey;
  font-size: 15px;
  font-style: italic;
}

.container_ulasan h5 {
  padding: 20px 30px 20px 30px;
  color: grey;
  font-size: 25px;
  font-weight: bold;
}
