<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <link rel="icon" href="./favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Quicksand&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
  <title>Share2Care</title>
</head>
<body>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <img class="logo" src="./share2Care.png" alt="share2Care_logos">
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/product">Product</a></li>
        <li><a href="#/testimoni">Testimoni</a></li>
        <li><a href="#/about-us">About Us</a></li>
        <li><a href="#/cart"><button class="icon-button">
            <i class="fas fa-shopping-cart"></i>
          </button></a></li>
        <li><a href="#/profile"><button class="icon-button">
            <i class="fas fa-user"></i>
          </button></a></li>
      </ul>
    </nav>
  </header>

  <main id="mainContent"></main>

  <footer class="footer">
    <div class="footer__left">
    <img class="logo" src="./share2Care.png" alt="share2Care_logos">
      
      <p class="description">
        Terima kasih telah menjadi bagian dari <strong>Share2Care</strong>, <br> platform marketplace donasi yang memberi arti pada kepedulian. <br>
        Bersama, kita mewujudkan perubahan positif <br> bagi mereka yang membutuhkan.
      </p>
    
      <p class="copyright">Copyright @ 2023 <strong>Share2Care</strong> CapstoneProject</p>
    </div>
    <div class="footer__right">
      <ul class="social-media">
        <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
        <li><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
        <li><a href="#"><i class="fab fa-whatsapp"></i>Whatsapp</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i>Email</a></li>
      </ul>
    </div>

  </footer>
</body>
</html>