@media screen and (max-width: 910px) {
  .jumbotron {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    text-align: center;
  }

  .jumbotron p {
    text-align: justify;
  }

  .jumbotron-logo {
    grid-column: 1;
  }

  .misi {
    flex-direction: column;
    text-align: center;
  }

  .misi h2 {
    width: 100%;
  }

  .misi p {
    width: 100%;
    text-align: justify;
  }

  .footer-atas {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .footer-desc {
    width: 100%;
  }
  .sosmed {
    width: 100%;
  }
  .sosmed button {
    width: 100%;
  }
  .sosmed p {
    width: 80%;
    margin-left: 0.3rem;
    text-align: left;
  }
}

@media screen and (max-width: 1000px) {
  body {
    font-size: var(--text-size-mobile);
  }
  h1 {
    font-size: var(--title-size-mobile);
  }
  .misi h2 {
    font-size: var(--title-size-mobile);
  }
  .kami h2 {
    font-size: var(--title-size-mobile);
  }
  .kami h3 {
    font-size: var(--text-size-mobile);
  }
  .logo {
    height: var(--logo-size-mobile);
  }
  .user img {
    width: var(--logo-size-mobile);
  }
}

@media screen and (max-width: 720px) {
  .jumbotron {
    padding: var(--padd-vertical-mobile) var(--padd-horizontal-mobile);
  }
  .misi {
    padding: var(--padd-vertical-mobile) var(--padd-horizontal-mobile);
  }
  .kami {
    padding: var(--padd-vertical-mobile) var(--padd-horizontal-mobile);
  }
  .anggota {
    padding: calc(var(--padd-vertical-mobile) * 0.3)
      calc(var(--padd-horizontal-mobile));
  }
}
